body {
  font-family: inter;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* Typography Styling */

/* Header Styling */
nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 30px 25px;
  height: 90px;
}
.logo {
  width: 40px;
}

nav > h3 {
  color: #61dafb;
  margin-right: auto;
  font-size: 1.5rem;
}

nav > h4 {
  color: #deebf8;
  font-size: 1rem;
  font-weight: 600;
}
